@font-face {
    font-family: 'AkzidenzBold';
    src: url('assets/AkzidenzBold.ttf');
}

@font-face {
    font-family: 'AkzidenzRoman';
    src: url('assets/AkzidenzRoman.ttf');
}

@font-face {
    font-family: 'AkzidenzLight';
    src: url('assets/AkzidenzLight.ttf');
}

a {
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: black;
    color: rgb(237, 237, 237);
    font-family: 'AkzidenzLight', sans-serif;
    margin: 0;
}

.Header {
    font-size: 30px;
    text-align: left;
    margin-left: 50px;
    padding-top: 0px;
    position: fixed;
    top: 0%;
    font-family: 'AkzidenzBold', sans-serif;
}

.Header2 {
    font-size: 18px;
    text-align: left;
    margin-left: 50px;
    padding-top: 10px;
    position: fixed;
    top: 90px;
    font-family: 'AkzidenzBold', sans-serif;
}

.Header3 {
    font-size: 15px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 1300px;
    min-width: 10px;
    max-width: 200px;
    position: fixed;
    top: 83.7%;
    font-family: 'AkzidenzBold', sans-serif;
}

.Header3:hover {
    color: rgba(255, 255, 255, 0.609);
    cursor: pointer;
}

.hide {
    font-size: 10px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 1200px;
    min-width: 120px;
    max-width: 240px;
    position: fixed;
    top: 30%;
    font-family: 'AkzidenzBold', sans-serif;
}

.Header4 {
    font-size: 15px;
    text-align: justify;
    margin-left: 180px;
    margin-right: 1300px;
    min-width: 10px;
    max-width: 200px;
    position: fixed;
    top: 83.7%;
    font-family: 'AkzidenzBold', sans-serif;
}

.Header4:hover {
    color: rgba(255, 255, 255, 0.609);
    cursor: pointer;
}

.HeaderContainer {
    position: fixed;
    font-size: 90px;
    left: 230px;
    margin-top: 132px;
    margin-bottom: 450px;
    z-index: -100;
}

.Header5 {
    position: fixed;
    font-size: 90px;
    font-family: 'AkzidenzBold', sans-serif;
    opacity: 1;
    transition: opacity 0.2s ease;
    transform: rotate(-90deg);
    z-index: -100;
}

.Header5.hidden {
    opacity: 0;
}

.HeaderContainer2 {
    position: fixed;
    font-size: 90px;
    left: 220px;
    top: 145px;
    margin-bottom: 450px;
    z-index: -100;
}

.Header7 {
    position: fixed;
    font-size: 90px;
    font-family: 'AkzidenzBold', sans-serif;
    opacity: 1;
    transition: opacity 0.2s ease;
    transform: rotate(-90deg);
    z-index: -100;
}

.Header7.hidden {
    opacity: 0;
}

.Header8 {
    position: fixed;
    font-size: 140px;
    left: 75%;
    top: 200px;
    font-family: 'AkzidenzBold', sans-serif;
    z-index: 0;
    opacity: 1;
    transition: opacity 0.2s ease;
    transform: rotate(-90deg);
    opacity: 0.1;
    z-index: -10;
}

.WorkOptions1 {
    font-size: 12px;
    text-align: left;
    margin-left: 50px;
    padding-top: 0px;
    position: fixed;
    top: 155px;
    z-index: 100;
    min-height: 10px;
    max-height: 50px;
}

.WorkOptions3 {
    font-size: 12px;
    text-align: left;
    margin-left: 50px;
    padding-top: 0px;
    position: fixed;
    top: 180px;
    min-height: 10px;
    max-height: 50px;
    min-width: 10px;
    max-width: 30px;
    z-index: 100;
}

.WorkOptions4 {
    font-size: 12px;
    text-align: left;
    margin-left: 50px;
    padding-top: 0px;
    position: fixed;
    top: 16%;
    z-index: 0;
}

.WorkOptions5 {
    font-size: 12px;
    text-align: left;
    margin-left: 50px;
    padding-top: 0px;
    position: fixed;
    top: 19%;
    z-index: 0;
}

.WorkOptions1:hover {
    color: rgba(255, 255, 255, 0.609);
    cursor: pointer;
}
.WorkOptions2:hover {
    color: rgba(255, 255, 255, 0.609);
    cursor: pointer;
}
.WorkOptions3:hover {
    color: rgba(255, 255, 255, 0.609);
    cursor: pointer;
}
.WorkOptions4:hover {
    color: rgba(255, 255, 255, 0.609);
    cursor: pointer;
}
.WorkOptions5:hover {
    color: rgba(255, 255, 255, 0.609);
    cursor: pointer;
}
.WorkOptions6:hover {
    color: rgba(255, 255, 255, 0.609);
    cursor: pointer;
}

.Poster {
    position: relative;
    left: 15%;
    top: 42px;
    border: transparent;
    width: 400px;
    height: 400px;
}

.Poster:hover {
    cursor: pointer;
    opacity: 0.95;
}

.Poster1 {
    background: url(assets/Artboard\ 1.png) 20% 20% no-repeat;
}

.Poster2 {
    background: url(assets/Artboard\ 3.png) 15% 0% no-repeat;
}

.Poster3 {
    background: url(assets/Artboard\ 5.png) 60% 70% no-repeat;
}

.Poster4 {
    background: url(assets/Artboard\ 4.png) 5% 0% no-repeat;
}

.Poster5 {
    background: url(assets/Artboard\ 6.jpg) 60% 70% no-repeat;
}

.Poster6 {
    background: url(assets/Artboard\ 7.png) 5% 0% no-repeat;
    margin-bottom: 200px;
}

.Ill {
    position: relative;
    left: 15%;
    top: 42px;
    border: transparent;
    margin: -3px -1.5px;
    width: 400px;
    height: 400px;
}

.Ill1 {
    background: url(assets/Ill2.png) 50% 50% no-repeat;
    background-size: 180%;
    z-index: 1;
    margin-bottom: 180px;
}

.Ill2 {
    background: url(assets/Book\ 2.png) 85% 75% no-repeat;
    background-size: 280%;
    z-index: 2;
}

.Ill3 {
    background: url(assets/Book\ 1.png) 50% 50% no-repeat;
    background-size: 180%;
    z-index: 3;
}

.Ill4 {
    background: url(assets/Ill1.jpg) 50% 50% no-repeat;
    background-size: 180%;
    z-index: 4;
}

.Ill5 {
    background: url(assets/NMN.jpg) 50% 50% no-repeat;
    background-size: 180%;
    z-index: 5;
}

.Ill6 {
    background: url(assets/ILU.png) 50% 50% no-repeat;
    background-size: 180%;
    z-index: 6;
}

.Ill:hover {
    cursor: pointer;
    opacity: 0.92;
}