body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

body::-webkit-scrollbar {
    display: none;
}

.contact-preview {
    width: 300px;
    height: 300px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    color: black;
}

.preview-controls {
    position: absolute;
    top: 50%;
    width: 95%;
    display: none;
    justify-content: space-between;
    transform: translateY(-50%);
}
.preview-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 4em;
    cursor: pointer;
}
.contact-preview {
    width: 300px;
    height: 150px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    color: black;
}

@media (min-width: 1024px) {
    body {
        background-color: white;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        gap: 1.5vw;
        padding: 10px;
        margin: 100px 0 15px 0;
        width: 96%;
    }

    .thumbnail-container {
        display: flex;
        gap: 15px 15px;
        justify-content: center;
        width: 60%;
        align-items: flex-end;
        flex-wrap: wrap;
        margin: 40px 0 0 0;
        align-items: center;
    }

    .main-image {
        width: auto;
        height: auto;
        min-height: 59vh;
        max-height: 60vh;
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }

    .work-page {
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1023px) {
    body {
        background-color: rgb(255, 255, 255);
        color: rgb(237, 237, 237);
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
        gap: 2vw;
        padding: 10px;
        margin: 100px 0 15px 0;
        width: 96%;
    }

    .thumbnail-container {
        display: none;
    }

    .main-image {
        width: auto;
        height: 56vw;
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }

    .work-page {
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .preview-controls {
        position: absolute;
        top: 90%;
        width: 95%;
        display: none;
        justify-content: space-between;
        transform: translateY(-50%);
    }
}

@media (max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
        gap: 2vw;
        padding: 10px;
        margin: 100px 0 15px 0;
        width: 96%;
    }

    .work-page {
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
        gap: 2vw;
        padding: 10px;
        margin: 100px 0 15px 0;
        width: 96%;
    }
}

@media (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 2vw;
        padding: 10px;
        margin: 100px 0 15px 0;
        width: 96%;
    }
}

@media (max-width: 525px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 2vw;
        padding: 10px;
        margin: 100px 0 15px 0;
        width: 96%;
    }
}
